<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.LoginLogMapper">
	<!-- 로그인 로깅 처리 -->
	<insert id="create">
		INSERT INTO login_log
			(
				user_no,
				user_id,
				remote_addr
			)
		VALUES
		(
			#{userNo},
			#{userId},
			#{remoteAddr}
		)
	</insert>
	
	<!-- 목록 -->
	<select id="list" resultType="com.shopping.domain.LoginLog">
		SELECT log_no,
			user_no,
			user_id,
			remote_addr,
			reg_date
		FROM login__log
		ORDER BY log_no desc
	
	</select>
</mapper>